* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  text-align: left;
}

main {
  width: 100%;
}

#book-section,
#form-section {
  width: 60%;
  margin: 3rem auto 10rem;
}

.add-button {
  display: inline;
  width: fit-content;
  background: #222;
  color: #fff;
  align-self: flex-end;
}

.removeBtn {
  display: inline;
  width: fit-content;
  background: #222;
  color: #fff;
  align-self: flex-end;
}
