* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}

.color {
  color: lightskyblue;
}

.current a {
  color: rgb(12, 155, 243);
}

header a:hover {
  color: rgb(12, 155, 243);
}

header {
  border-bottom: 2px solid #222;
  background-color: #ddd;
}

.brand {
  font-size: 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}

ul.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin-right: 1rem;
  padding: 0 1rem;
  border-right: 2px solid #222;
}

#book-section,
#form-section,
#contact-section {
  width: 70%;
  margin: 0 auto;
}

.add-button {
  display: inline;
  width: fit-content;
  background: #222;
  color: #fff;
  align-self: flex-end;
}

.removeBtn {
  display: inline;
  width: fit-content;
  background: #222;
  color: #fff;
  align-self: flex-end;
}

/* Contact */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lead {
  font-size: 20px;
}

.mail {
  color: lightskyblue;
}

.mail:hover {
  color: #222;
}

/* footer */

footer {
  background-color: #ddd;
  margin-top: auto;
}

.footer {
  padding: 1rem;
  text-align: center;
}
